<div class="page-content">
  <div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">School Year</h2>
    </div>
  </div>
    <section class="margin-bottom-sm">
      <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
          <div class="col-lg-4">
            <div class="stats-with-chart-1 block">
              <div class="title"> <strong class="d-block">Sales Difference</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
              <div class="row d-flex align-items-end justify-content-between">
                <div class="col-5">
                  <div class="text"><strong class="d-block dashtext-3">$740</strong><span class="d-block">May 2017</span><small class="d-block">320 Sales</small></div>
                </div>
                <div class="col-7">
                  <div class="bar-chart chart">
                    <canvas id="salesBarChart1"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="stats-with-chart-1 block">
              <div class="title"> <strong class="d-block">Visit Statistics</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
              <div class="row d-flex align-items-end justify-content-between">
                <div class="col-4">
                  <div class="text"><strong class="d-block dashtext-1">$457</strong><span class="d-block">May 2017</span><small class="d-block">210 Sales</small></div>
                </div>
                <div class="col-8">
                  <div class="bar-chart chart">
                    <canvas id="visitPieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="stats-with-chart-1 block">
              <div class="title"> <strong class="d-block">Sales Activities</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
              <div class="row d-flex align-items-end justify-content-between">
                <div class="col-5">
                  <div class="text"><strong class="d-block dashtext-2">80%</strong><span class="d-block">May 2017</span><small class="d-block">+35 Sales</small></div>
                </div>
                <div class="col-7">
                  <div class="bar-chart chart">
                    <canvas id="salesBarChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="stats-with-chart-2 block">
            <div class="title"><strong class="d-block">Credit Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
            <div class="piechart chart">
              <canvas id="pieChartHome1"></canvas>
              <div class="text"><strong class="d-block">$2.145</strong><span class="d-block">Sales</span></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="stats-with-chart-2 block">
            <div class="title"><strong class="d-block">Channel Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
            <div class="piechart chart">
              <canvas id="pieChartHome2"></canvas>
              <div class="text"><strong class="d-block">$7.784</strong><span class="d-block">Sales</span></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="stats-with-chart-2 block">
            <div class="title"><strong class="d-block">Direct Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
            <div class="piechart chart">
              <canvas id="pieChartHome3"></canvas>
              <div class="text"><strong class="d-block">$4.957</strong><span class="d-block">Sales</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer__block block no-margin-bottom">
      <div class="container-fluid text-center">
        <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        <p class="no-margin-bottom">2017 &copy; PortalTeam. Design by <a href="#">Latte</a>.</p>
      </div>
    </div>
  </footer>
</div>
